<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <script src="//cdn.socket.io/socket.io-1.4.5.js"></script>
        <script src="/javascripts/app.js"></script>
        <script>
        (function(){
            var app = App("http://<%= config.web.host %>:<%= config.web.port %>");
        })();
        </script>
    </body>
</html>
